#include "resource.h"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "yt-dlp GUI"
            VALUE "FileDescription", "GUI for yt-dlp"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "yt-dlp-gui"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "yt-dlp-gui.exe"
            VALUE "ProductName", "yt-dlp GUI"
            VALUE "ProductVersion", "1.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}
